services:
  app:
    # HAPUS BAGIAN 'build:' (context & dockerfile)
    # build: 
    #   context: .
    #   dockerfile: Dockerfile
    
    # Gunakan nama image yang sama persis dengan yang kita build tadi
    image: my-go-starter-img
    
    # Tambahkan ini agar Podman tidak mencoba download dari internet
    pull_policy: never
    
    container_name: starter_app
    command: sleep infinity
    volumes:
      - ../:/app:Z
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - DB_USER=starter_user
      - DB_PASS=starter_pass
      - DB_NAME=starter_db
      - APP_PORT=8080
    ports:
      - "9090:8080"
    depends_on:
      - db
    networks:
      - starter-network

  # ... (Service db dan phpmyadmin biarkan sama, tidak perlu diubah)
  db:
    image: mysql:8.0
    container_name: starter_db
    environment:
      MYSQL_DATABASE: starter_db
      MYSQL_USER: starter_user
      MYSQL_PASSWORD: starter_pass
      MYSQL_ROOT_PASSWORD: rootpassword
    volumes:
      - mysql_starter_data:/var/lib/mysql:Z
    networks:
      - starter-network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: starter_pma
    ports:
      - "9091:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: rootpassword
    depends_on:
      - db
    networks:
      - starter-network

volumes:
  mysql_starter_data:
    driver: local

networks:
  starter-network:
    driver: bridge